# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Docker files have shared ownership ##
**/Dockerfile
**/*.Dockerfile
**/.dockerignore
**/entrypoint.sh

## BRE team owns these workflows ##
.github/workflows/publish.yml @deepsafer/dept-bre

## These are shared workflows ##
.github/workflows/_move_edd_db_scripts.yml
.github/workflows/release.yml

# Database Operations for database changes
src/Sql/** @deepsafer/dept-dbops
util/EfShared/** @deepsafer/dept-dbops
util/Migrator/** @deepsafer/team-platform-dev # The Platform team owns the Migrator project code
util/Migrator/DbScripts/** @deepsafer/dept-dbops
util/Migrator/DbScripts_finalization/** @deepsafer/dept-dbops
util/Migrator/DbScripts_transition/** @deepsafer/dept-dbops
util/Migrator/MySql/** @deepsafer/dept-dbops
util/MySqlMigrations/** @deepsafer/dept-dbops
util/PostgresMigrations/** @deepsafer/dept-dbops
util/SqlServerEFScaffold/** @deepsafer/dept-dbops
util/SqliteMigrations/** @deepsafer/dept-dbops

# Shared util projects
util/Setup/** @deepsafer/dept-bre @deepsafer/team-platform-dev

# UIF
src/Core/MailTemplates/Mjml @deepsafer/team-ui-foundation # Teams are expected to own sub-directories of this project

# Auth team
**/Auth @deepsafer/team-auth-dev
deepsafer_license/src/Sso @deepsafer/team-auth-dev
src/Identity @deepsafer/team-auth-dev
src/Core/Identity @deepsafer/team-auth-dev
src/Core/IdentityServer @deepsafer/team-auth-dev

# Key Management team
**/KeyManagement @deepsafer/team-key-management-dev

# Tools team
**/Tools @deepsafer/team-tools-dev

# Dirt (Data Insights & Reporting) team
**/Dirt @deepsafer/team-data-insights-and-reporting-dev

# Vault team
**/Vault @deepsafer/team-vault-dev
**/Vault/AuthorizationHandlers @deepsafer/team-vault-dev @deepsafer/team-admin-console-dev  # joint ownership over authorization handlers that affect organization users

# Admin Console team
**/AdminConsole @deepsafer/team-admin-console-dev
deepsafer_license/src/Scim @deepsafer/team-admin-console-dev
deepsafer_license/src/test/Scim.IntegrationTest @deepsafer/team-admin-console-dev
deepsafer_license/src/test/Scim.ScimTest @deepsafer/team-admin-console-dev
src/Events @deepsafer/team-admin-console-dev
src/EventsProcessor @deepsafer/team-admin-console-dev

# Billing team
**/*billing* @deepsafer/team-billing-dev
**/*bitpay* @deepsafer/team-billing-dev
**/*braintree* @deepsafer/team-billing-dev
**/*freshdesk* @deepsafer/team-billing-dev
**/*freshsales* @deepsafer/team-billing-dev
**/*paypal* @deepsafer/team-billing-dev
**/*stripe* @deepsafer/team-billing-dev
**/*subscription* @deepsafer/team-billing-dev
**/*payment* @deepsafer/team-billing-dev
**/*invoice* @deepsafer/team-billing-dev
**/*OrganizationLicense* @deepsafer/team-billing-dev
**/Billing @deepsafer/team-billing-dev
src/Admin/Controllers/ToolsController.cs @deepsafer/team-billing-dev
src/Admin/Views/Tools @deepsafer/team-billing-dev

# Platform team
.github/workflows/build.yml @deepsafer/team-platform-dev
.github/workflows/build_target.yml @deepsafer/team-platform-dev
.github/workflows/cleanup-after-pr.yml @deepsafer/team-platform-dev
.github/workflows/cleanup-rc-branch.yml @deepsafer/team-platform-dev
.github/workflows/repository-management.yml @deepsafer/team-platform-dev
.github/workflows/test-database.yml @deepsafer/team-platform-dev
.github/workflows/test.yml @deepsafer/team-platform-dev
**/*Platform* @deepsafer/team-platform-dev
**/.dockerignore @deepsafer/team-platform-dev
**/Dockerfile @deepsafer/team-platform-dev
**/entrypoint.sh @deepsafer/team-platform-dev
# The PushType enum is expected to be editted by anyone without need for Platform review
src/Core/Platform/Push/PushType.cs

# Multiple owners - DO NOT REMOVE (BRE)
**/packages.lock.json
Directory.Build.props
