{
  "adminSettings": {
    "admins": "admin@deepsafer.com,owner@deepsafer.com,cs@deepsafer.com,billing@deepsafer.com,sales@deepsafer.com",
    "role": {
        "owner": "owner@deepsafer.com",
        "admin": "admin@deepsafer.com",
        "cs": "cs@deepsafer.com",
        "billing": "billing@deepsafer.com",
        "sales": "sales@deepsafer.com"
    }
  },
  "globalSettings": {
    "selfHosted": true,
    "sqlServer": {
      "connectionString": "Server=localhost;Database=vault_dev;User Id=SA;Password=SET_A_PASSWORD_HERE_123;Encrypt=True;TrustServerCertificate=True"
    },
    "postgreSql": {
      "connectionString": "host=127.0.0.1 port=5432 dbname=vault_deep user=postgres password=Deepsafer1234 connect_timeout=10 sslmode=prefer"
    },
    "mySql": {
      "connectionString": "server=localhost;uid=root;pwd=SET_A_PASSWORD_HERE_123;database=vault_dev"
    },
    "sqlite": {
      "connectionString": "Data Source=/path/to/deepsaferserver/repository/server/dev/db/deepsafer.db"
    },
    "identityServer": {
      "certificateThumbprint": "<your Identity certificate thumbprint with no spaces>"
    },
    "dataProtection": {
      "certificateThumbprint": "<your Data Protection certificate thumbprint with no spaces>"
    },
    "installation": {
      "id": "<your Installation Id>",
      "key": "<your Installation Key>"
    },
    "licenseDirectory": "<full path to license directory>",
    "enableNewDeviceVerification": true,
    "enableEmailVerification": true
  }
}
